Xml1/student.dtd



<!-- Uhart is my root element. It has to hold one or more students -->
<!ELEMENT Uhart (student+)>

<!-- A student will always have a names element -->
<!ELEMENT student (names)>

<!-- Attributes for students -->
<!ATTLIST student
  studid ID #REQUIRED
  Yr (fresh|soph|jun|sen) #REQUIRED>

  <!-- First/ last name -->
  <!ELEMENT names (first, last)>


<!-- first name is just text -->
  <!ELEMENT first (#PCDATA)>

  <!-- last name is just text -->
  <!ELEMENT last (#PCDATA)>
