Xml1/student.dtd

<!ELEMENT Uhart (student+)>
<!ELEMENT student (names)>
<!ELEMENT names (first, last)>
<!ELEMENT first (#PCDATA)>
<!ELEMENT last (#PCDATA)>

<!ATTLIST student
  studid ID #REQUIRED
  Yr (fresh|soph|jun|sen) #REQUIRED
  status (full-time|part-time|graduated|withdrawn) #REQUIRED
  prefname CDATA #IMPLIED
  email CDATA #REQUIRED
  phone CDATA #REQUIRED
  gpa CDATA #IMPLIED
  major CDATA #REQUIRED
  minor CDATA #IMPLIED
  advisor CDATA #REQUIRED
  initialenrollmentdate CDATA #REQUIRED
  graddate CDATA #IMPLIED
>
